<h1 style='text-align: center'>SQL Queries</h1>

## Getting Data From A SQL Database

### The Structure of a SQL Query

<img src='images/sql_statement.jpg'/>

#### SELECT

- What columns of data do we want? 
- Specify by column names or * (All)

- Where are we getting our data from? 
- Specify by table name or use join statement to join multiple tables

##### JOIN

- Use to join multiple tables 
- SELECT * FROM students join favorite_foods on students.id = favorite_foods.student_id
- SELECT * FROM students as s join favorite_foods as f on s.id = f.student_id

#### WHERE

- apply some filter to the data you are querying 
- define criteria for data that should selected from the database 
- SELECT * from students WHERE age > 10

#### GROUP BY

- Group columns by similar values
- SELECT COUNT(id), city from students GROUP BY city

#### HAVING

- Use to apply filter AFTER you have made your initial query 
- When should we use HAVING instead of WHERE

In [4]:
import sqlite3

conn = sqlite3.connect('tutorial.db')
c = conn.cursor()

In [5]:
# Load students.json file

#your code here
import json
f=open('students.json','r')
data=json.load(f)

In [ ]:
# iterate over the data and insert each student into the DB

In [3]:
# dynamic data entry example
def dynamic_data_entry():

    unix = int(time.time())
    date = str(datetime.datetime.fromtimestamp(unix).strftime('%Y-%m-%d %H:%M:%S'))
    keyword = 'Python'
    value = random.randrange(0,10)

    c.execute("INSERT INTO stuffToPlot (unix, datestamp, keyword, value) VALUES (?, ?, ?, ?)",
          (unix, date, keyword, value))

    conn.commit()

for i in range(10):
    dynamic_data_entry()
    time.sleep(1)

# c.close
# conn.close()

NameError: name 'time' is not defined

### Questions
1. What are the names of all of the students?
2. Which student has the most siblings?
3. How many students are only children?
4. Which 3 students have lived in NYC the shortest amount of time?
5. How many students are native New Yorkers?
6. Do any two students have the same favorite food?
7. Which student was born closest to the cohort's graduation date?